@import "partial/reset";
@import "partial/general";

.container {
  padding: 20px;
  width: calc(100% - 40px);
  position: relative;
  &--q {
    margin: 0 40px;
    background: rgba($white-l, .8);
    border-radius: 24px;
  }
  &__title {
    margin-bottom: 20px;
    font-size: 3rem;
    &--top {
      text-align: center;
    }
  }
  &__question {
    font-size: 4rem;
    line-height: 1.4;
    text-align: justify;
    &--forSelection {
      margin-bottom: 16px;
      font-size: 2.4rem;
    }
  }
  &__table {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
  }
  &__video {
    width: 100%;
  }
}

.master {
  &__qArea {
    margin-bottom: 20px;
  }
}

.question {
  &__wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    &:nth-child(1) {
      background-color: $white-l;
    }
    &:nth-child(2) {
      background-color: $white-m;
    }
    &--q {
      background: {
        repeat: no-repeat;
        size: cover;
        attachment: fixed;
      }
    }
  }
}

.qList {
  counter-reset: question;
  &__item {
    padding: 16px 0;
    position: relative;
    border-bottom: 1px solid $white-d;
    &::after {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      counter-increment: question;
      content: counter(question);
      font-size: 6rem;
      color: $gray-l;
      z-index: -1;
    }
  }
  &__question {
    margin-bottom: 16px;
    font-size: 1.4rem;
  }
  &__buttons {
  }
}

.qButtonList {
  display: -webkit-flex;
  display: flex;
  &__item {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.selectionTable {
  width: 80%;
  &--answerArea {
    width: 100%;
  }
  &__row {
    &:nth-child(1) {
      .selectionTable__data {
        &:nth-child(1) {
          &::before {
            content: "A";
          }
        }
        &:nth-child(2) {
          &::before {
            content: "B";
          }
        }
      }
    }
    &:nth-child(2) {
      .selectionTable__data {
        &:nth-child(1) {
          &::before {
            content: "C";
          }
        }
        &:nth-child(2) {
          &::before {
            content: "D";
          }
        }
      }
    }
  }
  &__data {
    position: relative;
    padding-top: 30.9%;
    border: 8px solid transparent;
    background: {
      repeat: no-repeat;
      size: cover;
      position: center top;
    }
    &::before {
      content: "";
      position: absolute;
      top: 8px;
      left: 8px;
      font-size: 10rem;
      opacity: .8;
      text-shadow: 0 0 8px $white-l;
    }
    &--answerArea {
      padding-top: 0;
      height: 120px;
      border: 1px solid $gray-l;
      &::before {
        font-size: 8rem;
        top: 50%;
        left: 50%;
        margin: -40px 0 0 -26px;
        z-index: -1;
      }
    }
  }
  &__label {
    display: block;
    width: 100%;
    height: 100%;
  }
  &__radio {
    display: none;
  }
}

.resistArea {
  &__description {
    margin-bottom: 16px;
    text-align: center;
    font-size: 1.2rem;
  }
  &__textForm {
    width: calc(100% - 16px);
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid $gray-l;
    border-radius: 4px;
    font-size: 1.6rem;
    line-height: 1;
  }
  &__submit {
    width: 100%;
  }
}

.waitQuestionArea {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin: 0 auto;
  background: {
    repeat: no-repeat;
    size: cover;
    position: center top;
  }
  &__description {
    color: $white-l;
    font-size: 1.2rem;
  }
}

.rankingList {
  counter-reset: ranking;
  &__item {
    padding: 20px 20px 20px 100px;
    position: relative;
    height: 40px;
    &:nth-child(even) {
      background-color: rgba($blue, .1);
    }
    &::before {
      display: block;
      position: absolute;
      counter-increment: ranking;
      content: counter(ranking);
      font-size: 4rem;
      top: 50%;
      left: 20px;
      margin-top: -20px;
    }
    &:nth-child(1) {
      &::before {
        color: $gold;
      }
    }
    &:nth-child(2) {
      &::before {
        color: $silver;
      }
    }
    &:nth-child(3) {
      &::before {
        color: $bronze;
      }
    }
  }
  &__innerWrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
  }
  &__name {
    font-size: 4rem;
  }
  &__time {
    font-size: 3rem;
  }
}

.js-checkAns {
  display: none;
  position: relative;
  .selected {
    &::before {
      color: $red;
    }
  }
  .clickShield {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($white-l, .3);
  }
}

.js-tOrF {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px;
  font-size: 20rem;
  line-height: 1;
  &.t {
    color: $blue;
  }
  &.f {
    color: $red;
    margin: -150px 0 0 -85px;
    font-size: 30rem;
  }
}

.js-showAnswer {
  position: absolute;
  font-size: 10rem;
  top: 100px;
  left: 50%;
  margin-left: -276px;
  text-shadow: 0 0 40px $white-l;
  span {
    font-size: 40rem;
  }
}

.js-looserShield {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($black-d, .4);
  color: $white-l;
  font-size: 1.4rem;
}

.js-revivalCountdown {
  font-size: 20rem;
}
