<% include partials/header %>
<div id="js-bg" class="answer">
  <section class="answer__answerArea">
    <div class="container">
      <h1 class="container__title"><%= user %>さん</h1>
      <div class="container__answerArea">
        <% if (user) { %>
          <div id="js-waitQuestion" class="waitQuestionArea" style="background-image:url(/img/loading.gif)">
            <p class="waitQuestionArea__description">問題を待機中</p>
          </div>
        <% } else { %>
          <div class="waitQuestionArea">
            <p class="waitQuestionArea__errorMsg">Errorが発生しました。</p>
            <a class="waitQuestionArea__link" href="/">TOPへ戻る</a>
          </div>
        <% } %>
      </div>
    </div>
  </section>
  <section class="container__selectionList">
    <div class="container">
      <div class="container__table">
        <table id="js-checkAns" class="selectionTable selectionTable--answerArea js-checkAns">
          <tbody class="selectionTable__tbody">
            <tr class="selectionTable__row">
              <td id="ans-A" class="selectionTable__data selectionTable__data--answerArea">
                <label class="selectionTable__label"><input class="selectionTable__radio" type="radio" name="q1" value="A">A</label>
              </td>
              <td id="ans-B" class="selectionTable__data selectionTable__data--answerArea">
                <label class="selectionTable__label"><input class="selectionTable__radio" type="radio" name="q1" value="B">B</label>
              </td>
            </tr>
            <tr class="selectionTable__row">
              <td id="ans-C" class="selectionTable__data selectionTable__data--answerArea">
                <label class="selectionTable__label"><input class="selectionTable__radio" type="radio" name="q1" value="C">C</label>
              </td>
              <td id="ans-D" class="selectionTable__data selectionTable__data--answerArea">
                <label class="selectionTable__label"><input class="selectionTable__radio" type="radio" name="q1" value="D">D</label>
              </td>
            </tr>
          </tbody>
        </table>
        <p id="js-tOrF" class="js-tOrF"></p>
      </div>
    </div>
  </section>
</div>

<% include partials/scripts %>
<script>
  $(function() {
    // ランダム背景画像
    var bgUrl = "/img/abg/bg" + (Math.floor(Math.random() * 10) + 1) + ".jpg";

    $("#js-bg").css({
      "background-image": "url(" + bgUrl + ")"
    });
  });

  $(function() {
    var socket = io.connect(),
        startTime = 0,
        answerTime = 0,
        yourAns = "",
        $jsCheckAns = $("#js-checkAns"),
        isShowSelection = false,
        answeredFlg = false,
        looser = false;

    // 選択肢表示状態を維持
    if (localStorage.getItem("isShowSelection")) {
      $jsCheckAns.show();
      $("#js-waitQuestion").hide();
    }

    // 回答後のclickShield状態を維持
    if (localStorage.getItem("answeredFlg")) {
      clickShield();
    }

    // 選択された状態を維持
    if ("undefined" !== typeof localStorage.getItem("yourAns")) {
      $("#ans-" + localStorage.getItem("yourAns")).addClass("selected");

    }

    // 敗退者の状態を維持
    if (localStorage.getItem("looser")) {
      looserShield();
    }

    // 正解かどうかチェック
    $jsCheckAns.find("label").on("touchend", function() {
      $(this).find("input").prop("checked", true);

      yourAns = $("input:radio[name='q1']:checked").val();

      if (confirm(yourAns + "でよろしいですね？")) {
        answerTime = new Date().getTime();
        $(this).closest("td").addClass("selected");
        clickShield();
        localStorage.setItem("answeredFlg", true);
        localStorage.setItem("yourAns", yourAns);
      } else {
        return;
      };
    });

    for (var i = 0; i < 7; i++) {
      socket.on("q" + (i + 1) + "Selection", function(data) {
        startTime = data;
        $jsCheckAns.show();
        $("#js-waitQuestion").hide();
        localStorage.setItem("isShowSelection", true);
      });

      socket.on("q" + (i + 1) + "FinalAnswer", function(data) {
        if (localStorage.getItem("looser")) {
          return;
        }
        if (yourAns === data) {
          var time = answerTime - startTime;
          socket.json.emit("rankingData_from_answer", {
            "time": time,
            "name": "<%= user %>"
          });
          $("#js-tOrF").addClass("t").text("○");
          localStorage.clear();
          setTimeout(function() {
            location.reload();
          }, 5000);
        } else {
          $("#js-tOrF").addClass("f").text("×");
          localStorage.setItem("looser", true);
          looserShield();
        }
      });

      socket.on("q" + (i + 1) + "StopAnswer", function(data) {
        clickShield();
        localStorage.setItem("answeredFlg", true);
      });
    }


    // qX
    socket.on("qXSelection", function(data) {
      startTime = data;
      $jsCheckAns.show();
      $("#js-waitQuestion").hide();
      localStorage.setItem("isShowSelection", true);
    });

    socket.on("qXFinalAnswer", function(data) {
      if (yourAns === data) {
        var time = answerTime - startTime;
        socket.json.emit("rankingData_from_answer", {
          "time": time,
          "name": "<%= user %>"
        });
        $("#js-tOrF").addClass("t").text("○");
        localStorage.clear();
        setTimeout(function() {
          location.reload();
        }, 5000);
      } else {
        $("#js-tOrF").addClass("f").text("×");
        localStorage.setItem("looser", true);
        looserShield();
      }
    });

    socket.on("qXStopAnswer", function(data) {
      clickShield();
      localStorage.setItem("answeredFlg", true);
    });



    // 復活の狼煙
    socket.on("revive_from_server", function(data) {
      if (! localStorage.getItem("looser")) {
        $("body").append('<div class="js-looserShield"></div>');
      }

      $(".js-looserShield").text("復活まで");
      $(".js-looserShield").append('<p id="js-revivalCountdown" class="js-revivalCountdown"></p>');
      regeneration(5);

      function regeneration(counter) {
        if (counter > 0) {
          $("#js-revivalCountdown").text(counter);
          counter--;
          setTimeout(function() {
            regeneration(counter);
          }, 1000);
        } else {
          localStorage.clear();
          location.reload();
        }
      };
    });

    function clickShield() {
      $jsCheckAns.append('<div class="clickShield"></div>');
    };

    function looserShield() {
      if (! $(".js-looserShield").length) {
        $("body").append('<div class="js-looserShield">残念・・次のタームまでお待ち下さい</div>');
      }
    }
  });
</script>
<% include partials/footer %>
