<% include partials/header %>
<div class="master">
  <section class="master__qArea">
    <div class="container">
      <h1 class="container__title">Questions</h1>
      <div class="container__button">
        <button id="js-revive" type="button">復活のボタン</button>
      </div>
      <div class="container__qList">
        <ol class="qList">
          <li id="q1" class="qList__item js-question">
            <p class="qList__question">新郎・新婦、それぞれの名前を漢字で書いたとき、正しいものはどれでしょう？</p>
            <div class="qList__buttons">
              <ul class="qButtonList">
                <li class="qButtonList__item">
                  <button id="q1Selection" class="qButtonList__button" type="button">選択肢表示</button>
                </li>
                <li class="qButtonList__item">
                  <button class="qButtonList__button" type="button">回答START</button>
                </li>
                <li class="qButtonList__item">
                  <button id="q1StopAnswer" class="qButtonList__button" type="button">回答STOP</button>
                </li>
                <li class="qButtonList__item">
                  <button id="q1PlayVideo" class="qButtonList__button" type="button" data-answer="B">正解VTR再生</button>
                </li>
                <li class="qButtonList__item">
                  <button id="q1Ranking" class="qButtonList__button" type="button">ランキング発表</button>
                </li>
              </ul>
            </div>
          </li>
          <li id="q2" class="qList__item js-question">
            <p class="qList__question">ミニーちゃんはどれでしょう？</p>
            <div class="qList__buttons">
              <ul class="qButtonList">
                <li class="qButtonList__item">
                  <button id="q2Selection" class="qButtonList__button" type="button">選択肢表示</button>
                </li>
                <li class="qButtonList__item">
                  <button class="qButtonList__button" type="button">回答OK</button>
                </li>
                <li class="qButtonList__item">
                  <button class="qButtonList__button" type="button">回答STOP</button>
                </li>
                <li class="qButtonList__item">
                  <button class="qButtonList__button" type="button" data-answer="2">正解を発表</button>
                </li>
              </ul>
            </div>
          </li>
          <li id="q3" class="qList__item js-question">
            <p class="qList__question">スターウォーズはどれでしょう？</p>
            <div class="qList__buttons">
              <ul class="qButtonList">
                <li class="qButtonList__item">
                  <button id="q3Selection" class="qButtonList__button" type="button">選択肢表示</button>
                </li>
                <li class="qButtonList__item">
                  <button class="qButtonList__button" type="button">回答OK</button>
                </li>
                <li class="qButtonList__item">
                  <button class="qButtonList__button" type="button">回答STOP</button>
                </li>
                <li class="qButtonList__item">
                  <button class="qButtonList__button" type="button" data-answer="2">正解を発表</button>
                </li>
              </ul>
            </div>
          </li>
          <li id="q4" class="qList__item js-question">
            <p class="qList__question">【早押し】新郎・新婦の年齢の差は5歳ですが、次のうち□に5が当てはまるのはどれでしょう？</p>
            <div class="qList__buttons">
              <ul class="qButtonList">
                <li class="qButtonList__item">
                  <button id="q4Selection" class="qButtonList__button" type="button">選択肢表示</button>
                </li>
                <li class="qButtonList__item">
                  <button class="qButtonList__button" type="button">回答OK</button>
                </li>
                <li class="qButtonList__item">
                  <button class="qButtonList__button" type="button">回答STOP</button>
                </li>
                <li class="qButtonList__item">
                  <button class="qButtonList__button" type="button" data-answer="2">正解を発表</button>
                </li>
              </ul>
            </div>
          </li>
          <li id="q5" class="qList__item js-question">
            <p class="qList__question">二人が出会った場所は東京個別指導学院という塾でしたが、次のうち、東京個別指導学院はどれでしょう？</p>
            <div class="qList__buttons">
              <ul class="qButtonList">
                <li class="qButtonList__item">
                  <button id="q5Selection" class="qButtonList__button" type="button">選択肢表示</button>
                </li>
                <li class="qButtonList__item">
                  <button class="qButtonList__button" type="button">回答OK</button>
                </li>
                <li class="qButtonList__item">
                  <button class="qButtonList__button" type="button">回答STOP</button>
                </li>
                <li class="qButtonList__item">
                  <button class="qButtonList__button" type="button" data-answer="2">正解を発表</button>
                </li>
              </ul>
            </div>
          </li>
          <li id="q6" class="qList__item js-question">
            <p class="qList__question">新郎が新婦に初めて告白したとき、新郎は花束を新婦に渡したそうです。さて、花束を渡された新婦のその後の行動はどれでしょう？</p>
            <div class="qList__buttons">
              <ul class="qButtonList">
                <li class="qButtonList__item">
                  <button id="q6Selection" class="qButtonList__button" type="button">選択肢表示</button>
                </li>
                <li class="qButtonList__item">
                  <button class="qButtonList__button" type="button">回答OK</button>
                </li>
                <li class="qButtonList__item">
                  <button class="qButtonList__button" type="button">回答STOP</button>
                </li>
                <li class="qButtonList__item">
                  <button class="qButtonList__button" type="button" data-answer="2">正解を発表</button>
                </li>
              </ul>
            </div>
          </li>
          <li id="q7" class="qList__item js-question">
            <p class="qList__question">【早押し】今年二人の間に生まれた碧くん。さて、次のうち碧くんはどれでしょう？</p>
            <div class="qList__buttons">
              <ul class="qButtonList">
                <li class="qButtonList__item">
                  <button id="q7Selection" class="qButtonList__button" type="button">選択肢表示</button>
                </li>
                <li class="qButtonList__item">
                  <button class="qButtonList__button" type="button">回答OK</button>
                </li>
                <li class="qButtonList__item">
                  <button class="qButtonList__button" type="button">回答STOP</button>
                </li>
                <li class="qButtonList__item">
                  <button class="qButtonList__button" type="button">正解ページ表示</button>
                </li>
                <li class="qButtonList__item">
                  <button class="qButtonList__button" type="button">正解VTR再生</button>
                </li>
                <li class="qButtonList__item">
                  <button class="qButtonList__button" type="button" data-answer="2">正解を発表</button>
                </li>
              </ul>
            </div>
          </li>
        </ol>
      </div><!-- /.container__qList -->
    </div><!-- /.container -->
  </section><!-- /.master__qArea -->
  <section class="master__usersArea">
    <div class="container">
      <h1 class="container__title">参加者一覧</h1>
      <div class="container__usersList">
        <ul id="users" class="usersList"></ul>
      </div>
    </div>
  </section><!-- /.master__usersArea -->
</div><!-- /.master -->
<% include partials/scripts %>
<script>
  $(function() {
    var socket = io.connect();

    $("#q1Selection").on("click", function() {
      var startTime = new Date().getTime();

      socket.json.emit("q1Selection", {
        "time": startTime
      });
    });
    $("#q1StopAnswer").on("click", function() {
      socket.emit("q1StopAnswer", "");
    });
    $("#q1PlayVideo").on("click", function() {
      socket.emit("q1PlayVideo", $(this).data("answer"));
    });
    $("#q1Ranking").on("click", function() {
      socket.emit("q1Ranking", "");
    });

    // 参加者をリストする
    socket.on("emit_from_server", function(data) {
      $("#users").append('<li>' + data.uid + " : " + data.user +'</li>');
    });

    // 復活のボタン
    $("#js-revive").on("click", function() {
      socket.emit("revive", "");
    });
  });
</script>
<% include partials/footer %>
