<% include partials/header %>
<div class="qIndex">
  <section class="qIndex__wrapper">
    <div class="container">
      <h1 class="container__title">Question</h1>
      <div class="container__qIndex">
      <ul class="qIndexList">
        <% for (i = 0; i < 10; i++) { %>
          <li class="qIndexList__item"><a class="qIndexList__link" href="/q/<%= i + 1 %>"><%= i + 1 %></a></li> <% } %>
      </ul>
    </div>
  </section>
</div>
<% include partials/footer %>
