<% include partials/header %>
<h1>TOP</h1>
<p>ようこそ</p>
<p>名前を登録してね</p>
<form id="resist" method="post" action="/create">
  <input id="userName" type="text" name="user" placeholder="本名だと助かる">
  <input id="uid" type="hidden" name="uid">
  <input type="submit" value="登録">
</form>
<% include partials/scripts %>
<script>
  $(function() {
    var socket = io.connect(),
        uid = uid();
    $("#resist").submit(function() {
      var name = $("#userName").val();

      if (name == "") {
        alert("お名前を入力してください");
        return false;
      }

      $("#uid").val(uid);

      var msg = confirm("あなたのお名前は " + name + " さんですね？")

      if (! msg) {
        return false;
      }

      socket.json.emit("emit_from_top", {
        uid: uid,
        user: name
      });
    });

    // ユニークなuidを生成
    function uid() {
      var random = Math.floor(Math.random() * 1000),
          date = new Date(),
          time = date.getTime();

      return random + time.toString();
    };
  });
</script>
<% include partials/footer %>
