<% include partials/header %>
<div id="js-bg" class="top">
  <section class="top__resist">
    <div class="container">
      <h1 class="container__title container__title--top">YONNIE's<br> オールスターウォーズ<br>感謝祭</h1>
      <div class="container__resistArea">
        <form id="resist" class="resistArea" method="post" action="/create">
          <p class="resistArea__description">お名前を本名で登録してください。</p>
          <input id="userName" class="resistArea__textForm" type="text" name="user" placeholder="米家一洋">
          <input id="uid" type="hidden" name="uid">
          <input class="resistArea__submit" type="submit" value="登録">
        </div>
      </div>
    </div>
  </section>
</div>
<% include partials/scripts %>
<script>
  $(function() {
    var socket = io.connect(),
        uid = uid();
    $("#resist").submit(function() {
      var name = $("#userName").val();

      if (name == "") {
        alert("お名前を入力してください");
        return false;
      }

      $("#uid").val(uid);

      var msg = confirm("あなたのお名前は " + name + " さんですね？")

      if (! msg) {
        return false;
      }

      socket.json.emit("emit_from_top", {
        uid: uid,
        user: name
      });
    });

    // ユニークなuidを生成
    function uid() {
      var random = Math.floor(Math.random() * 1000),
          date = new Date(),
          time = date.getTime();

      return random + time.toString();
    };

    var bgUrl = "/img/abg/bg" + (Math.floor(Math.random() * 10) + 1) + ".jpg";

    $("#js-bg").css({
      "background-image": "url(" + bgUrl + ")"
    });
  });
</script>
<% include partials/footer %>
