<% include ../partials/header %>
<div class="question">
  <section class="question__wrapper question__wrapper--q" style="background-image:url(/img/qbg/q1bg.jpg)">
    <div class="container container--q">
      <h1 id="js-question" class="container__title">第<%= num %>問</h1>
      <p class="container__question">新郎・新婦、それぞれの名前を漢字で書いたとき、正しいものはどれか？</p>
    </div>
  </section>
  <section id="js-selection" class="question__wrapper">
    <div class="container">
      <p class="container__question container__question--forSelection">新郎・新婦、それぞれの名前を漢字で書いたとき、正しいものはどれか？</p>
      <div class="container__table">
        <table class="selectionTable">
          <tbody class="selectionTable__tbody">
            <tr class="selectionTable__row">
              <td class="selectionTable__data" style="background-image:url(http://stevejobko.com/wp-content/uploads/2014/12/%E5%B0%8F%E5%B6%8B.jpg)"></td>
              <td class="selectionTable__data" style="background-image:url(https://pbs.twimg.com/profile_images/439341459590750208/3bHeJS0h.jpeg)"></td>
            </tr>
            <tr class="selectionTable__row">
              <td class="selectionTable__data" style="background-image:url(http://images6.fanpop.com/image/photos/38300000/-kojima-haruna-38335508-1024-1267.jpg)"></td>
              <td class="selectionTable__data" style="background-image:url(http://images6.fanpop.com/image/photos/38300000/-kojima-haruna-38335313-1024-1265.jpg)"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <section id="js-answer" class="question__wrapper">
    <div class="container">
      <video id="js-playVideo" class="container__video" src="/img/v/q1Ans.m4v"></video>
    </div>
  </section>
  <section id="js-ranking" class="question__wrapper">
    <div class="container">
      <div class="container__rankingList">
        <ol id="js-rankingList" class="rankingList"></ol>
      </div>
    </div>
  </section>
</div><!-- /.question -->
<% include ../partials/scripts %>
<script>
  $(function() {
    var socket = io.connect();

    // 選択肢の表示・回答スタート
    socket.on("showSelection_from_server", function(data) {
      var speed = 400,
          position = $("#js-selection").offset().top;

      $("body").animate({scrollTop: position}, speed, "swing");
    });

    // 正解VTR
    socket.on("playVideo_from_server", function(data) {
      var $video = $("#js-playVideo"),
          speed = 400,
          position = $("#js-answer").offset().top;

      if ($(".js-showAnswer").length) {
        $(".js-showAnswer").remove();
      };

      $("body").animate({scrollTop: position}, speed, "swing");

      $video.get(0).play();
      $video.on("ended", function() {
        $("#js-answer").find(".container").append('<p class="js-showAnswer">正解は<span>' + data + '</span></p>');
        socket.emit("q1FinalAnswer", data);
      });
    });

    // ランキングデータをセット
    socket.on("rankingData_from_server", function(data) {
      $("#js-rankingList").append('<li class="rankingList__item"><div class="rankingList__innerWrapper" data-ranktime="' + data.time + '"><p class="rankingList__name">' + data.name + '</p><p class="rankingList__time">' + (data.time / 1000) + ' sec</p></div></li>');
    });

    socket.on("ranking_from_server", function(data) {
      var $rankingLiTmp = $("#js-rankingList").find("li"),
          speed = 400,
          position = $("#js-ranking").offset().top,
          sortList = [],
          i = 0;

      $rankingLiTmp.find("p").hide();

      $("body").animate({scrollTop: position}, speed, "swing");

      $rankingLiTmp.each(function() {
        sortList.push($(this).html());
      });

      sortList.sort(function(a, b) {
        return parseInt($(a).data("ranktime")) < parseInt($(b).data("ranktime")) ? -1 : 1;
      });

      $rankingLiTmp.empty();

      $rankingLiTmp.each(function() {
        if (i < 10) {
          $(this).append(sortList[i]);
          i++;
        } else {
          $(this).remove();
        }
      });

      var $rankingLi = $("#js-rankingList").find("li");


      $($rankingLi.get().reverse()).each(function(index) {
        if (index < 7) {
          $(this).find("p").delay(500 * index).fadeIn();
        } else {
          $(this).find("p").delay(1000 * index).fadeIn();
        }
      });
    });
  });
</script>
<% include ../partials/footer %>
